:root {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1rem;
  line-height: 1.25rem;
}

#results {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-direction: column;
}

.arrow {
  height: 1.25rem;
  width: 1.25rem;
  margin-left: 0.5rem
}

.row {
  display: flex;
  gap: 10px;
}